<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.eco.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
        <service
            android:name=".games.StepService"/>
        <activity
            android:name=".start.First_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".start.IntroductorActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeWindow"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".start.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- debug loggin for performance logging-->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <receiver
            android:name=".calendar.NotificationCalendar"
            android:enabled="true"/>
    </application>

</manifest>